PROJECT={{ project }}
PROJECT_NAME={{ project_name }}

LUXMS_URL="{{ luxms_url }}"
CMN_ADMIN_URL={{ cmn_admin_url }}
CMN_CLIENTS="{{ cmn_clients }}"

COMPOSE_PROFILES={{ compose_profiles }}

PRJ_ENV={{ prj_env }}
CMN_ENV={{ cmn_env }}

MINIO_ADDR={{ minio_addr }}
MINIO_PORT={{ minio_port }}
MINIO_SECURE={{ minio_secure | lower }}
MINIO_USER={{ minio_user }}
MINIO_PASSWORD={{ minio_password | default('minio123') }}

KAFKA_LISTENER={{ kafka_listener }}
KAFKA_LISTENER_PORT={{ kafka_listener_port }}
KAFKA_ADDR={{ kafka_addr }}
KAFKA_PORT={{ kafka_port }}

SSL_JKS_FILE={{ ssl_jks_file }}
SSL_JKS_PASSWD={{ ssl_jks_password }}

KEYCLOAK_IMG={{ keycloak_img }}
KEYCLOAK_URL={{ keycloak_url }}
KEYCLOAK_ADDR={{ keycloak_addr }}
KEYCLOAK_PROTO={{ keycloak_proto }}
KEYCLOAK_DB={{ keycloak_db }}
KEYCLOAK_PORT={{ keycloak_port }}
KEYCLOAK_USER={{ keycloak_user }}
KEYCLOAK_PASSWORD={{ keycloak_password }}

PRJ_DB_NAME={{ prj_db_name }}
PRJ_DB_ADDR={{ prj_db_addr }}
PRJ_DB_PORT={{ prj_db_port }}
PRJ_DB_USER={{ prj_db_user }}
PRJ_DB_PASSWORD={{ prj_db_password }}

BIRT_DB_ADDR={{ birt_db_addr }}
BIRT_DB_NAME={{ birt_db_name }}
BIRT_DB_PORT={{ birt_db_port }}
BIRT_DB_USER={{ birt_db_user }}
BIRT_DB_PASSWORD={{ prj_db_password }}

CMN_DB_ADDR={{ cmn_db_addr }}
CMN_DB_NAME={{ cmn_db_name }}
CMN_DB_PORT={{ cmn_db_port }}
CMN_DB_USER={{ cmn_db_user }}
CMN_DB_PASSWORD={{ prj_db_password }}

CMN_MAIL_HOST={{ cmn_mail_host }}
CMN_MAIL_PORT={{ cmn_mail_port }}
CMN_MAIL_USERNAME={{ cmn_mail_username }}
CMN_MAIL_PASSWORD={{ cmn_mail_password | default('') }}
CMN_MAIL_ADDRESS={{ cmn_mail_address }}
CMN_MAIL_AUTH_ENABLED={{ cmn_mail_auth_enabled | lower }}
CMN_MAIL_SENDER_NAME="{{ cmn_mail_sender_name }}"
CMN_MAIL_ADMIN_ADDRESS={{ cmn_mail_admin_address }}
CMN_MAIL_SYSTEM_LINK={{ cmn_mail_system_link }}

EKASUI_API_USERNAME={{ ekasui_api_username }}
EKASUI_API_PASSWORD={{ ekasui_api_password }}
EKASUI_API_BASEURL={{ ekasui_api_baseurl }}

EKASUD_API_USERNAME={{ ekasud_api_username }}
EKASUD_API_PASSWORD={{ ekasud_api_password }}
EKASUD_API_BASEURL={{ ekasud_api_baseurl }}