---
# Проверка поддержки SELinux в системе
- name: Checking SELinux support
  fail:
    msg: "SELinux не поддерживается в этой системе или ОС не из семейства RedHat"
  when: ansible_facts['os_family'] != "RedHat"
  tags: selinux

# Создание резервной копии оригинального конфига
- name: Backup original SELinux config
  copy:
    src: /etc/selinux/config
    dest: "/etc/selinux/config.backup.{{ ansible_date_time.epoch }}"
    remote_src: yes
    backup: yes
  when: ansible_facts['os_family'] == "RedHat"
  tags: selinux

# Применение постоянной конфигурации SELinux через шаблон
- name: Configure SELinux using template
  template:
    src: config.j2
    dest: /etc/selinux/config
    backup: yes
    mode: 0644
  notify: Restart selinux
  tags: selinux

# Отображение статуса SELinux
- name: Display SELinux status
  debug:
    msg: |
      Настройки SELinux применены:
      - Режим: {{ selinux_state }}
      - Политика: {{ selinux_policy }}
  tags: selinux