---
- name: Stop and disable firewalld (CentOS/RHEL)
  systemd:
    name: firewalld
    state: stopped
    enabled: no
  when: ansible_os_family == "RedHat"
  tags: iptables

- name: Install iptables services (RedHat family)
  package:
    name: iptables-services
    state: present
  when: ansible_os_family == "RedHat"
  tags: iptables

- name: Install iptables-persistent (Debian family)
  package:
    name: iptables-persistent
    state: present
  when: ansible_os_family == "Debian"
  tags: iptables

- name: Check if iptables config exists
  stat:
    path: /etc/sysconfig/iptables
  register: iptables_file_stat
  tags: iptables

- name: Backup original iptables config
  copy:
    src: /etc/sysconfig/iptables
    dest: "/etc/sysconfig/iptables.backup.{{ ansible_date_time.epoch }}"
    remote_src: yes
    backup: yes
  when: iptables_file_stat.stat.exists
  tags: iptables

- name: Configure iptables rules for RedHat
  template:
    src: iptables/iptables.j2
    dest: /etc/sysconfig/iptables
    mode: 0600
  when: ansible_os_family == "RedHat"
  notify: restart iptables
  tags: iptables

- name: Configure iptables rules for Debian
  template:
    src: iptables/iptables.j2
    dest: /etc/iptables/rules.v4
    mode: 0600
  when: ansible_os_family == "Debian"
  notify: restart iptables
  tags: iptables

- name: Enable iptables service
  systemd:
    name: iptables
    enabled: yes
    state: started
  when: ansible_os_family == "RedHat"
  tags: iptables

- name: Show rules
  debug:
    msg: |
      iptables настроен с правилами:
      - TCP порты: {{ iptables_custom_rules.tcp.ports | join(', ') }}
      - TCP диапазоны: {{ iptables_custom_rules.tcp.ranges | join(', ') }}
      - UDP порты: {{ iptables_custom_rules.udp.ports | join(', ') }}
      - UDP диапазоны: {{ iptables_custom_rules.udp.ranges | join(', ') }}
      - Доп. правил: {{ iptables_additional_rules | length }}
  tags: iptables