---
# Полные дефолтные переменные для nginx конфигурации
# Все настройки можно переопределить извне

# Базовые настройки nginx
nginx_user: "nginx"
nginx_worker_processes: "auto"
nginx_worker_connections: 1024
nginx_keepalive_timeout: 65
nginx_client_max_body_size: "10m"

# Настройки SSL (используются только если nginx_config.ssl_enabled: true)
ssl_certificate: "/etc/nginx/ssl/ocrv.crt"
ssl_certificate_key: "/etc/nginx/ssl/ocrv.key"
ssl_protocols: "TLSv1.2 TLSv1.3"
ssl_ciphers: "ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384"
ssl_prefer_server_ciphers: "on"

# Настройки безопасности
security_headers: true
x_frame_options: "SAMEORIGIN"
x_content_type_options: "nosniff"
x_xss_protection: "1; mode=block"

# Настройки gzip
gzip_enabled: true
gzip_types: "text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript"
gzip_min_length: 1024
gzip_comp_level: 6

# Настройки таймаутов
client_body_timeout: "60s"
client_header_timeout: "60s"
send_timeout: "60s"
keepalive_timeout: "75s"

# Настройки проксирования
proxy_connect_timeout: "60s"
proxy_send_timeout: "60s"
proxy_read_timeout: "60s"
proxy_buffers: "8 16k"
proxy_buffer_size: "16k"

# Основная конфигурация nginx
nginx_config:
  listen_port: 80
  ssl_enabled: false
  default_server: true
  servers:
    - server_name: "_"
      locations:
        - "/etc/nginx/conf.d/locations_app.cfg"
        - "/etc/nginx/conf.d/locations_both.cfg"

# Пути к location файлам
nginx_locations:
  admin: "/etc/nginx/conf.d/locations_admin.cfg"
  admin_dev: "/etc/nginx/conf.d/locations_admin_dev.cfg"
  psp: "/etc/nginx/conf.d/locations_psp.cfg"
  psp_dev: "/etc/nginx/conf.d/locations_psp_dev.cfg"
  app: "/etc/nginx/conf.d/locations_app.cfg"
  app_dev: "/etc/nginx/conf.d/locations_app_dev.cfg"
  both: "/etc/nginx/conf.d/locations_both.cfg"
  both_dev: "/etc/nginx/conf.d/locations_both_dev.cfg"
  support: "/etc/nginx/conf.d/locations_support.cfg"

# Дополнительные директивы nginx (будут добавлены в каждый server блок)
nginx_server_directives: []
  # Пример использования:
  # - "access_log /var/log/nginx/access.log main"
  # - "error_log /var/log/nginx/error.log warn"
  # - "root /var/www/html"

# Дополнительные SSL директивы (будут добавлены при ssl_enabled: true)
nginx_ssl_directives: []
  # Пример использования:
  # - "ssl_session_cache shared:SSL:10m"
  # - "ssl_session_timeout 10m"
  # - "ssl_stapling on"
  # - "ssl_stapling_verify on"