---
- name: Set OS-specific variables
  set_fact:
    postgresql_packages: "{{ postgresql_redhat_packages if ansible_os_family == 'RedHat' else postgresql_debian_packages }}"
    postgresql_service_name: "{{ postgresql_redhat_service_name if ansible_os_family == 'RedHat' else postgresql_debian_service_name }}"
    postgresql_bin_dir: "{{ postgresql_redhat_bin_dir if ansible_os_family == 'RedHat' else postgresql_debian_bin_dir }}"

- name: Create PostgreSQL system user
  user:
    name: "{{ postgresql_system_user }}"
    state: present
    shell: /bin/bash
    system: yes
  when: postgresql_create_system_user | bool

- name: Configure sudo for PostgreSQL user
  copy:
    content: "{{ postgresql_system_user }} ALL=(ALL) NOPASSWD: ALL"
    dest: "/etc/sudoers.d/{{ postgresql_system_user }}"
    mode: 0440
  when: postgresql_create_system_user | bool

- name: Create PostgreSQL directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ postgresql_system_user }}"
    group: "{{ postgresql_system_user }}"
    mode: 0755
  loop:
    - "{{ postgresql_data_dir }}"
    - "{{ postgresql_backup_dir }}"
    - "{{ postgresql_archive_dir }}"
    - "{{ postgresql_archive_xlog_dir }}"
    - "{{ postgresql_log_dir }}"

- name: Add PostgreSQL repository for RHEL/CentOS
  yum_repository:
    name: postgresql
    description: PostgreSQL Repository
    baseurl: "{{ postgresql_redhat_repo_url }}"
    gpgcheck: yes
    gpgkey: "{{ postgresql_redhat_repo_gpgkey }}"
    enabled: yes
  when: ansible_os_family == "RedHat"

- name: Install PostgreSQL packages
  package:
    name: "{{ postgresql_packages }}"
    state: present

- name: Set PostgreSQL user password
  user:
    name: "{{ postgresql_system_user }}"
    password: "{{ postgresql_system_user_password | password_hash('sha512') }}"
  when: postgresql_create_system_user | bool

- name: Configure PostgreSQL service
  template:
    src: "postgresql.service.j2"
    dest: "/usr/lib/systemd/system/{{ postgresql_service_name }}"
    mode: 0644
  notify: reload systemd

- name: Configure PostgreSQL environment
  template:
    src: "bash_profile.j2"
    dest: "/var/lib/{{ postgresql_system_user }}/.bash_profile"
    owner: "{{ postgresql_system_user }}"
    group: "{{ postgresql_system_user }}"
    mode: 0644

- name: Initialize PostgreSQL database
  command: "{{ postgresql_bin_dir }}/initdb -k -D {{ postgresql_data_dir }}"
  become: yes
  become_user: "{{ postgresql_system_user }}"
  args:
    creates: "{{ postgresql_data_dir }}/PG_VERSION"

- name: Configure postgresql.conf
  template:
    src: "postgresql.conf.j2"
    dest: "{{ postgresql_data_dir }}/postgresql.conf"
    owner: "{{ postgresql_system_user }}"
    group: "{{ postgresql_system_user }}"
    mode: 0600
  notify: restart postgresql

- name: Configure pg_hba.conf
  template:
    src: "pg_hba.conf.j2"
    dest: "{{ postgresql_data_dir }}/pg_hba.conf"
    owner: "{{ postgresql_system_user }}"
    group: "{{ postgresql_system_user }}"
    mode: 0600
  notify: reload postgresql

- name: Start and enable PostgreSQL service
  systemd:
    name: "{{ postgresql_service_name }}"
    state: started
    enabled: yes
    daemon_reload: yes

- name: Create application databases and users
  block:
    - name: Create application users
      postgresql_user:
        name: "{{ item.name }}"
        password: "{{ item.password }}"
        role_attr_flags: "{{ item.privileges }}"
        state: present
      loop: "{{ postgresql_app_users }}"

    - name: Create application databases
      postgresql_db:
        name: "{{ item.name }}"
        owner: "{{ item.owner }}"
        encoding: "{{ item.encoding }}"
        template: "{{ item.template }}"
        lc_collate: "{{ item.lc_collate }}"
        lc_ctype: "{{ item.lc_ctype }}"
        state: present
      loop: "{{ postgresql_app_databases }}"

    - name: Install extensions for databases
      postgresql_ext:
        name: "{{ item.extension }}"
        db: "{{ item.database }}"
        state: present
      loop: "{{ postgresql_extensions }}"
  when: postgresql_setup_databases | bool

- name: Configure backup scripts
  template:
    src: "backupDB.sh.j2"
    dest: "{{ postgresql_backup_script_path }}"
    owner: "{{ postgresql_system_user }}"
    group: "{{ postgresql_system_user }}"
    mode: 0755
  when: postgresql_configure_backup | bool

- name: Configure cron job for backups
  cron:
    name: "PostgreSQL Backup"
    minute: "0"
    hour: "1"
    job: "{{ postgresql_backup_script_path }} >> /var/lib/{{ postgresql_system_user }}/cron.log"
    user: "{{ postgresql_system_user }}"
  when: postgresql_configure_backup | bool

- name: Configure firewall rules for RHEL/CentOS
  firewalld:
    port: "{{ postgresql_port }}/tcp"
    permanent: yes
    state: enabled
    immediate: yes
  when: ansible_os_family == "RedHat" and postgresql_configure_firewall | bool

- name: Verify PostgreSQL installation
  command: "{{ postgresql_bin_dir }}/psql -U postgres -c 'SELECT version();'"
  become: yes
  become_user: "{{ postgresql_system_user }}"
  register: postgresql_version_check
  changed_when: false

- name: Show PostgreSQL version
  debug:
    msg: "PostgreSQL installed successfully: {{ postgresql_version_check.stdout }}"