# Application Environment
APP_NAME={{ app_name }}
APP_VERSION={{ app_version }}
APP_PORT={{ app_port }}
APP_ENV={{ app_environment }}

# Secrets from Vault
SECRET_KEY={{ secret_key }}
API_SECRET_KEY={{ api_secret_key }}
DB_PASSWORD={{ db_password }}
ENCRYPTION_KEY={{ encryption_key }}

# Settings
LOG_LEVEL={{ log_level }}
MAX_MEMORY={{ app_max_memory }}