---
- name: Install Nginx
  package:
    name: nginx
    state: present
  tags: nginx

- name: Configure Nginx default site
  template:
    src: "{{ playbook_dir }}/templates/nginx/default.conf.j2"
    dest: /etc/nginx/conf.d/default.conf
    mode: 0644
    validate: nginx -t -c %s
  notify: restart nginx
  tags: nginx

- name: Ensure Nginx is running and enabled
  systemd:
    name: nginx
    state: started
    enabled: yes
  tags: nginx