[Unit]
Description={{ app_name }} Application
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_home }}/app
ExecStart=/usr/bin/python3 -m gunicorn --bind 127.0.0.1:{{ app_port }} app:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target